body {
    font-family: sans-serif;
    background-color: #edddd4;
}

header {
    background-color: #197278;
    padding: 20px;
    min-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #197278;
    background-color:#c44536;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #772e25;;
    border-radius: 10px;
    padding: 5px;
}

header img {
    width: 200px;
    height: 60px;
}

.sp_button {
    background-color: #c44536 ;
    border: 1px solid #772e25;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    border-bottom: 2px solid #197278;
    padding-bottom: 15px;
    width: 1100px;
    margin: 30px auto;
}

h2 {
    color: #197278;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 50px;
}

.posts {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
}

article {
    font-size: 20px;
    padding: 20px;
    width: 800px;
    margin: 20px;
    border: 1px solid #772e25;
    border-radius: 15px;
    text-align: center;
}

article img {
    height: 150px;
    width: 200px;
}

.page {
    width: 80px;
    position: relative;
    bottom: 100px;
}

.nb_news {
    background-color: #772e25;
    color: #edddd4;
}

footer {
    background-color: #197278;
    padding: 10px;
    min-width: 1100px;
}

footer p {
    background-color: #edddd4;
    padding: 5px;
}
